.idea
.claude
*config.yaml
.env/*
!.env/.gitkeep
**/.env
**/.env.*
.venv
venv
*pid.*
*.bak*
*.dat*
*.dir*
*.zip*
*.log*
*.egg
*.egg-info/
screenshots/
logs/
*.tgz
/workflows.mapping
/scripts.mapping

